<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>O</key>
	<string>O_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>dvAI</key>
	<string>dvA_I_.glif</string>
	<key>dvAU</key>
	<string>dvA_U_.glif</string>
	<key>dvAU.init</key>
	<string>dvA_U__init.glif</string>
	<key>dvAnusvara</key>
	<string>dvA_nusvara.glif</string>
	<key>dvAnusvara.amI</key>
	<string>dvA_nusvara_amI_.glif</string>
	<key>dvCHA</key>
	<string>dvC_H_A_.glif</string>
	<key>dvCH_RA</key>
	<string>dvC_H__R_A_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__C_H_A_.glif</string>
	<key>dvDDH_R</key>
	<string>dvD_D_H__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvD_D_H__R_A_.glif</string>
	<key>dvDD_R</key>
	<string>dvD_D__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvD_D__R_A_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__Y_A_.glif</string>
	<key>dvII_Anusvara</key>
	<string>dvI_I__A_nusvara.glif</string>
	<key>dvNG</key>
	<string>dvN_G_.glif</string>
	<key>dvNGA</key>
	<string>dvN_G_A_.glif</string>
	<key>dvNG_RA</key>
	<string>dvN_G__R_A_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvN_Y__C_H_A_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__C_H_A_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__D_A_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__D_D_A_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__D_H_A_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__H_A_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__K_A_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__M_A_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__P_A_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__P_H_A_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__S_A_.glif</string>
	<key>dvN_TA</key>
	<string>dvN__T_A_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__T_T_A_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__V_A_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__Y_A_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvO.init</key>
	<string>dvO__init.glif</string>
	<key>dvOcandra.init</key>
	<string>dvO_candra_init.glif</string>
	<key>dvOm</key>
	<string>dvO_m.glif</string>
	<key>dvReph_Anusvara</key>
	<string>dvR_eph_A_nusvara.glif</string>
	<key>dvReph_Anusvara.amI</key>
	<string>dvR_eph_A_nusvara_amI_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvS_S__T_T_H__R_A_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvS_S__T_T__R_A_.glif</string>
	<key>dvTTH_R</key>
	<string>dvT_T_H__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvT_T_H__R_A_.glif</string>
	<key>dvTT_RA</key>
	<string>dvT_T__R_A_.glif</string>
	<key>dvZero</key>
	<string>dvZ_ero.glif</string>
	<key>dvmAI_Anusvara</key>
	<string>dvmA_I__A_nusvara.glif</string>
	<key>dvmAI_Reph</key>
	<string>dvmA_I__R_eph.glif</string>
	<key>dvmAI_Reph_Anusvara</key>
	<string>dvmA_I__R_eph_A_nusvara.glif</string>
	<key>dvmAU</key>
	<string>dvmA_U_.glif</string>
	<key>dvmAU_Anusvara</key>
	<string>dvmA_U__A_nusvara.glif</string>
	<key>dvmAU_Reph</key>
	<string>dvmA_U__R_eph.glif</string>
	<key>dvmAU_Reph_Anusvara</key>
	<string>dvmA_U__R_eph_A_nusvara.glif</string>
	<key>dvmE_Anusvara</key>
	<string>dvmE__A_nusvara.glif</string>
	<key>dvmE_Reph_Anusvara</key>
	<string>dvmE__R_eph_A_nusvara.glif</string>
	<key>dvmII_Anusvara</key>
	<string>dvmI_I__A_nusvara.glif</string>
	<key>dvmII_Anusvara.aLong</key>
	<string>dvmI_I__A_nusvara_aL_ong.glif</string>
	<key>dvmII_Reph</key>
	<string>dvmI_I__R_eph.glif</string>
	<key>dvmII_Reph.aLong</key>
	<string>dvmI_I__R_eph_aL_ong.glif</string>
	<key>dvmII_Reph_Anusvara</key>
	<string>dvmI_I__R_eph_A_nusvara.glif</string>
	<key>dvmII_Reph_Anusvara.aLong</key>
	<string>dvmI_I__R_eph_A_nu6f85ab4c.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmO_Anusvara</key>
	<string>dvmO__A_nusvara.glif</string>
	<key>dvmO_Reph</key>
	<string>dvmO__R_eph.glif</string>
	<key>dvmO_Reph_Anusvara</key>
	<string>dvmO__R_eph_A_nusvara.glif</string>
	<key>dvmU</key>
	<string>dvmU_.glif</string>
	<key>dvmUU</key>
	<string>dvmU_U_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>u</key>
	<string>u.glif</string>
</dict>
</plist>
