<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<string>C_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>apostrophemod</key>
	<string>apostrophemod.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvAI_.glif</string>
	<key>dvAU</key>
	<string>dvAU_.glif</string>
	<key>dvAU.init</key>
	<string>dvAU_.init.glif</string>
	<key>dvAnusvara</key>
	<string>dvAnusvara_.glif</string>
	<key>dvAnusvara.amI</key>
	<string>dvAnusvara_.amI_.glif</string>
	<key>dvBH_LA</key>
	<string>dvBH__LA_.glif</string>
	<key>dvBH_YA</key>
	<string>dvBH__YA_.glif</string>
	<key>dvB_BHA</key>
	<string>dvB__BHA_.glif</string>
	<key>dvB_DHA</key>
	<string>dvB__DHA_.glif</string>
	<key>dvB_JA</key>
	<string>dvB__JA_.glif</string>
	<key>dvB_J_YA</key>
	<string>dvB__J__YA_.glif</string>
	<key>dvB_JxA</key>
	<string>dvB__JxA_.glif</string>
	<key>dvB_LA</key>
	<string>dvB__LA_.glif</string>
	<key>dvB_SA</key>
	<string>dvB__SA_.glif</string>
	<key>dvB_SHA</key>
	<string>dvB__SHA_.glif</string>
	<key>dvB_TA</key>
	<string>dvB__TA_.glif</string>
	<key>dvB_VA</key>
	<string>dvB__VA_.glif</string>
	<key>dvCHA</key>
	<string>dvCHA_.glif</string>
	<key>dvCH_RA</key>
	<string>dvCH__RA_.glif</string>
	<key>dvC_CA</key>
	<string>dvC__CA_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__CHA_.glif</string>
	<key>dvC_MA</key>
	<string>dvC__MA_.glif</string>
	<key>dvDDH_R</key>
	<string>dvDDH__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvDDH__RA_.glif</string>
	<key>dvDD_R</key>
	<string>dvDD__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvDD__RA_.glif</string>
	<key>dvDH_MA</key>
	<string>dvDH__MA_.glif</string>
	<key>dvGH_MA</key>
	<string>dvGH__MA_.glif</string>
	<key>dvG_BA</key>
	<string>dvG__BA_.glif</string>
	<key>dvG_BHA</key>
	<string>dvG__BHA_.glif</string>
	<key>dvG_BH_YA</key>
	<string>dvG__BH__YA_.glif</string>
	<key>dvG_DA</key>
	<string>dvG__DA_.glif</string>
	<key>dvG_DHA</key>
	<string>dvG__DHA_.glif</string>
	<key>dvG_GA</key>
	<string>dvG__GA_.glif</string>
	<key>dvG_GHA</key>
	<string>dvG__GHA_.glif</string>
	<key>dvG_JA</key>
	<string>dvG__JA_.glif</string>
	<key>dvG_LA</key>
	<string>dvG__LA_.glif</string>
	<key>dvG_MA</key>
	<string>dvG__MA_.glif</string>
	<key>dvG_NNA</key>
	<string>dvG__NNA_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__YA_.glif</string>
	<key>dvG_VA</key>
	<string>dvG__VA_.glif</string>
	<key>dvG_YA</key>
	<string>dvG__YA_.glif</string>
	<key>dvII_Anusvara</key>
	<string>dvII__Anusvara_.glif</string>
	<key>dvJH_MA</key>
	<string>dvJH__MA_.glif</string>
	<key>dvJ_BA</key>
	<string>dvJ__BA_.glif</string>
	<key>dvJ_JHA</key>
	<string>dvJ__JHA_.glif</string>
	<key>dvJ_J_VA</key>
	<string>dvJ__J__VA_.glif</string>
	<key>dvJ_J_YA</key>
	<string>dvJ__J__YA_.glif</string>
	<key>dvJ_MA</key>
	<string>dvJ__MA_.glif</string>
	<key>dvJ_NY_YA</key>
	<string>dvJ__NY__YA_.glif</string>
	<key>dvJ_TTA</key>
	<string>dvJ__TTA_.glif</string>
	<key>dvJ_VA</key>
	<string>dvJ__VA_.glif</string>
	<key>dvJ_YA</key>
	<string>dvJ__YA_.glif</string>
	<key>dvJx_YA</key>
	<string>dvJx__YA_.glif</string>
	<key>dvKH_KHA</key>
	<string>dvKH__KHA_.glif</string>
	<key>dvKH_MA</key>
	<string>dvKH__MA_.glif</string>
	<key>dvKH_SHA</key>
	<string>dvKH__SHA_.glif</string>
	<key>dvKH_TA</key>
	<string>dvKH__TA_.glif</string>
	<key>dvKH_VA</key>
	<string>dvKH__VA_.glif</string>
	<key>dvKHx_MA</key>
	<string>dvKHx__MA_.glif</string>
	<key>dvKHx_SA</key>
	<string>dvKHx__SA_.glif</string>
	<key>dvKHx_SHA</key>
	<string>dvKHx__SHA_.glif</string>
	<key>dvKHx_TA</key>
	<string>dvKHx__TA_.glif</string>
	<key>dvKHx_VA</key>
	<string>dvKHx__VA_.glif</string>
	<key>dvK_MA</key>
	<string>dvK__MA_.glif</string>
	<key>dvK_PA</key>
	<string>dvK__PA_.glif</string>
	<key>dvK_PHA</key>
	<string>dvK__PHA_.glif</string>
	<key>dvK_SS_MA</key>
	<string>dvK__SS__MA_.glif</string>
	<key>dvK_SS_VA</key>
	<string>dvK__SS__VA_.glif</string>
	<key>dvK_SS_YA</key>
	<string>dvK__SS__YA_.glif</string>
	<key>dvK_S_P_LA</key>
	<string>dvK__S__P__LA_.glif</string>
	<key>dvK_T_VA</key>
	<string>dvK__T__VA_.glif</string>
	<key>dvKx_BA</key>
	<string>dvKx__BA_.glif</string>
	<key>dvKx_MA</key>
	<string>dvKx__MA_.glif</string>
	<key>dvKx_PHA</key>
	<string>dvKx__PHA_.glif</string>
	<key>dvKx_PHxA</key>
	<string>dvKx__PHxA_.glif</string>
	<key>dvL_BA</key>
	<string>dvL__BA_.glif</string>
	<key>dvL_DA</key>
	<string>dvL__DA_.glif</string>
	<key>dvL_DDA</key>
	<string>dvL__DDA_.glif</string>
	<key>dvL_DDHA</key>
	<string>dvL__DDHA_.glif</string>
	<key>dvL_JA</key>
	<string>dvL__JA_.glif</string>
	<key>dvL_JxA</key>
	<string>dvL__JxA_.glif</string>
	<key>dvL_KA</key>
	<string>dvL__KA_.glif</string>
	<key>dvL_LA</key>
	<string>dvL__LA_.glif</string>
	<key>dvL_MA</key>
	<string>dvL__MA_.glif</string>
	<key>dvL_PA</key>
	<string>dvL__PA_.glif</string>
	<key>dvL_PHA</key>
	<string>dvL__PHA_.glif</string>
	<key>dvL_TTA</key>
	<string>dvL__TTA_.glif</string>
	<key>dvL_TTHA</key>
	<string>dvL__TTHA_.glif</string>
	<key>dvL_VA</key>
	<string>dvL__VA_.glif</string>
	<key>dvL_V_DDA</key>
	<string>dvL__V__DDA_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvMA_.glif</string>
	<key>dvM_BA</key>
	<string>dvM__BA_.glif</string>
	<key>dvM_BH_YA</key>
	<string>dvM__BH__YA_.glif</string>
	<key>dvM_B_RA</key>
	<string>dvM__B__RA_.glif</string>
	<key>dvM_B_YA</key>
	<string>dvM__B__YA_.glif</string>
	<key>dvM_DA</key>
	<string>dvM__DA_.glif</string>
	<key>dvM_DA_mU</key>
	<string>dvM__DA__mU_.glif</string>
	<key>dvM_DA_mUU</key>
	<string>dvM__DA__mUU_.glif</string>
	<key>dvM_LA</key>
	<string>dvM__LA_.glif</string>
	<key>dvM_MA</key>
	<string>dvM__MA_.glif</string>
	<key>dvM_PA</key>
	<string>dvM__PA_.glif</string>
	<key>dvM_P_RA</key>
	<string>dvM__P__RA_.glif</string>
	<key>dvM_SA</key>
	<string>dvM__SA_.glif</string>
	<key>dvM_SHA</key>
	<string>dvM__SHA_.glif</string>
	<key>dvM_TA</key>
	<string>dvM__TA_.glif</string>
	<key>dvM_VA</key>
	<string>dvM__VA_.glif</string>
	<key>dvM_YA</key>
	<string>dvM__YA_.glif</string>
	<key>dvNG</key>
	<string>dvNG_.glif</string>
	<key>dvNGA</key>
	<string>dvNGA_.glif</string>
	<key>dvNG_RA</key>
	<string>dvNG__RA_.glif</string>
	<key>dvNN_DDA</key>
	<string>dvNN__DDA_.glif</string>
	<key>dvNN_DDHA</key>
	<string>dvNN__DDHA_.glif</string>
	<key>dvNN_MA</key>
	<string>dvNN__MA_.glif</string>
	<key>dvNN_NNA</key>
	<string>dvNN__NNA_.glif</string>
	<key>dvNN_TTA</key>
	<string>dvNN__TTA_.glif</string>
	<key>dvNN_TTHA</key>
	<string>dvNN__TTHA_.glif</string>
	<key>dvNN_VA</key>
	<string>dvNN__VA_.glif</string>
	<key>dvNN_YA</key>
	<string>dvNN__YA_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvNY__CHA_.glif</string>
	<key>dvNY_JA</key>
	<string>dvNY__JA_.glif</string>
	<key>dvN_BH_YA</key>
	<string>dvN__BH__YA_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__CHA_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__DA_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__DDA_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__DHA_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__HA_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__KA_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__MA_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__PA_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__PHA_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__SA_.glif</string>
	<key>dvN_TA</key>
	<string>dvN__TA_.glif</string>
	<key>dvN_TH_VA</key>
	<string>dvN__TH__VA_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__TTA_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__VA_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__YA_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvO.init</key>
	<string>dvO_.init.glif</string>
	<key>dvOcandra</key>
	<string>dvOcandra_.glif</string>
	<key>dvOcandra.init</key>
	<string>dvOcandra_.init.glif</string>
	<key>dvOm</key>
	<string>dvOm_.glif</string>
	<key>dvPH_TA</key>
	<string>dvPH__TA_.glif</string>
	<key>dvPHx_TA</key>
	<string>dvPHx__TA_.glif</string>
	<key>dvP_LA</key>
	<string>dvP__LA_.glif</string>
	<key>dvP_MA</key>
	<string>dvP__MA_.glif</string>
	<key>dvP_PA</key>
	<string>dvP__PA_.glif</string>
	<key>dvP_PHA</key>
	<string>dvP__PHA_.glif</string>
	<key>dvP_VA</key>
	<string>dvP__VA_.glif</string>
	<key>dvReph_Anusvara</key>
	<string>dvReph__Anusvara_.glif</string>
	<key>dvReph_Anusvara.amI</key>
	<string>dvReph__Anusvara_.amI_.glif</string>
	<key>dvSH_MA</key>
	<string>dvSH__MA_.glif</string>
	<key>dvSS</key>
	<string>dvSS_.glif</string>
	<key>dvSS_MA</key>
	<string>dvSS__MA_.glif</string>
	<key>dvSS_M_YA</key>
	<string>dvSS__M__YA_.glif</string>
	<key>dvSS_NNA</key>
	<string>dvSS__NNA_.glif</string>
	<key>dvSS_NN_YA</key>
	<string>dvSS__NN__YA_.glif</string>
	<key>dvSS_PA</key>
	<string>dvSS__PA_.glif</string>
	<key>dvSS_PHA</key>
	<string>dvSS__PHA_.glif</string>
	<key>dvSS_P_RA</key>
	<string>dvSS__P__RA_.glif</string>
	<key>dvSS_SSA</key>
	<string>dvSS__SSA_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvSS__TTH__RA_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvSS__TT__RA_.glif</string>
	<key>dvSS_VA</key>
	<string>dvSS__VA_.glif</string>
	<key>dvS_BA</key>
	<string>dvS__BA_.glif</string>
	<key>dvS_DA</key>
	<string>dvS__DA_.glif</string>
	<key>dvS_JA</key>
	<string>dvS__JA_.glif</string>
	<key>dvS_LA</key>
	<string>dvS__LA_.glif</string>
	<key>dvS_MA</key>
	<string>dvS__MA_.glif</string>
	<key>dvS_PA</key>
	<string>dvS__PA_.glif</string>
	<key>dvS_PHA</key>
	<string>dvS__PHA_.glif</string>
	<key>dvS_T_VA</key>
	<string>dvS__T__VA_.glif</string>
	<key>dvS_T_YA</key>
	<string>dvS__T__YA_.glif</string>
	<key>dvS_VA</key>
	<string>dvS__VA_.glif</string>
	<key>dvSeven</key>
	<string>dvSeven_.glif</string>
	<key>dvTH_VA</key>
	<string>dvTH__VA_.glif</string>
	<key>dvTTH_R</key>
	<string>dvTTH__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvTTH__RA_.glif</string>
	<key>dvTT_RA</key>
	<string>dvTT__RA_.glif</string>
	<key>dvT_KHA</key>
	<string>dvT__KHA_.glif</string>
	<key>dvT_LA</key>
	<string>dvT__LA_.glif</string>
	<key>dvT_MA</key>
	<string>dvT__MA_.glif</string>
	<key>dvT_M_YA</key>
	<string>dvT__M__YA_.glif</string>
	<key>dvT_PHA</key>
	<string>dvT__PHA_.glif</string>
	<key>dvT_P_LA</key>
	<string>dvT__P__LA_.glif</string>
	<key>dvT_VA</key>
	<string>dvT__VA_.glif</string>
	<key>dvV_HA</key>
	<string>dvV__HA_.glif</string>
	<key>dvV_LA</key>
	<string>dvV__LA_.glif</string>
	<key>dvV_VA</key>
	<string>dvV__VA_.glif</string>
	<key>dvZero</key>
	<string>dvZero_.glif</string>
	<key>dvmAI_Anusvara</key>
	<string>dvmAI__Anusvara_.glif</string>
	<key>dvmAI_Reph</key>
	<string>dvmAI__Reph_.glif</string>
	<key>dvmAI_Reph_Anusvara</key>
	<string>dvmAI__Reph__Anusvara_.glif</string>
	<key>dvmAU</key>
	<string>dvmAU_.glif</string>
	<key>dvmAU_Anusvara</key>
	<string>dvmAU__Anusvara_.glif</string>
	<key>dvmAU_Reph</key>
	<string>dvmAU__Reph_.glif</string>
	<key>dvmAU_Reph_Anusvara</key>
	<string>dvmAU__Reph__Anusvara_.glif</string>
	<key>dvmE_Anusvara</key>
	<string>dvmE__Anusvara_.glif</string>
	<key>dvmE_Reph_Anusvara</key>
	<string>dvmE__Reph__Anusvara_.glif</string>
	<key>dvmII_Anusvara</key>
	<string>dvmII__Anusvara_.glif</string>
	<key>dvmII_Anusvara.aLong</key>
	<string>dvmII__Anusvara_.aLong_.glif</string>
	<key>dvmII_Reph</key>
	<string>dvmII__Reph_.glif</string>
	<key>dvmII_Reph.aLong</key>
	<string>dvmII__Reph_.aLong_.glif</string>
	<key>dvmII_Reph_Anusvara</key>
	<string>dvmII__Reph__Anusvara_.glif</string>
	<key>dvmII_Reph_Anusvara.aLong</key>
	<string>dvmII__Reph__Anusvara_.aLong_.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmO_Anusvara</key>
	<string>dvmO__Anusvara_.glif</string>
	<key>dvmO_Reph</key>
	<string>dvmO__Reph_.glif</string>
	<key>dvmO_Reph_Anusvara</key>
	<string>dvmO__Reph__Anusvara_.glif</string>
	<key>dvmU</key>
	<string>dvmU_.glif</string>
	<key>dvmUU</key>
	<string>dvmUU_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
