<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dvA.short</key>
	<string>dvA__short.glif</string>
	<key>dvAI</key>
	<string>dvA_I_.glif</string>
	<key>dvAU</key>
	<string>dvA_U_.glif</string>
	<key>dvAU.init</key>
	<string>dvA_U__init.glif</string>
	<key>dvBH_LA</key>
	<string>dvB_H__L_A_.glif</string>
	<key>dvBH_R</key>
	<string>dvB_H__R_.glif</string>
	<key>dvBH_RA</key>
	<string>dvB_H__R_A_.glif</string>
	<key>dvBH_R_YA</key>
	<string>dvB_H__R__Y_A_.glif</string>
	<key>dvBH_VA</key>
	<string>dvB_H__V_A_.glif</string>
	<key>dvBH_YA</key>
	<string>dvB_H__Y_A_.glif</string>
	<key>dvB_BA</key>
	<string>dvB__B_A_.glif</string>
	<key>dvB_BHA</key>
	<string>dvB__B_H_A_.glif</string>
	<key>dvB_BH_RA</key>
	<string>dvB__B_H__R_A_.glif</string>
	<key>dvB_DA</key>
	<string>dvB__D_A_.glif</string>
	<key>dvB_DA_mU</key>
	<string>dvB__D_A__mU_.glif</string>
	<key>dvB_DA_mUU</key>
	<string>dvB__D_A__mU_U_.glif</string>
	<key>dvB_DHA</key>
	<string>dvB__D_H_A_.glif</string>
	<key>dvB_DH_VA</key>
	<string>dvB__D_H__V_A_.glif</string>
	<key>dvB_JA</key>
	<string>dvB__J_A_.glif</string>
	<key>dvB_JHA</key>
	<string>dvB__J_H_A_.glif</string>
	<key>dvB_J_YA</key>
	<string>dvB__J__Y_A_.glif</string>
	<key>dvB_JxA</key>
	<string>dvB__J_xA_.glif</string>
	<key>dvB_LA</key>
	<string>dvB__L_A_.glif</string>
	<key>dvB_L_YA</key>
	<string>dvB__L__Y_A_.glif</string>
	<key>dvB_R</key>
	<string>dvB__R_.glif</string>
	<key>dvB_RA</key>
	<string>dvB__R_A_.glif</string>
	<key>dvB_SA</key>
	<string>dvB__S_A_.glif</string>
	<key>dvB_SHA</key>
	<string>dvB__S_H_A_.glif</string>
	<key>dvB_TA</key>
	<string>dvB__T_A_.glif</string>
	<key>dvB_VA</key>
	<string>dvB__V_A_.glif</string>
	<key>dvB_YA</key>
	<string>dvB__Y_A_.glif</string>
	<key>dvCHA</key>
	<string>dvC_H_A_.glif</string>
	<key>dvCH_R</key>
	<string>dvC_H__R_.glif</string>
	<key>dvCH_RA</key>
	<string>dvC_H__R_A_.glif</string>
	<key>dvCH_R_YA</key>
	<string>dvC_H__R__Y_A_.glif</string>
	<key>dvCH_YA</key>
	<string>dvC_H__Y_A_.glif</string>
	<key>dvC_CA</key>
	<string>dvC__C_A_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__C_H_A_.glif</string>
	<key>dvC_CH_VA</key>
	<string>dvC__C_H__V_A_.glif</string>
	<key>dvC_MA</key>
	<string>dvC__M_A_.glif</string>
	<key>dvC_NA</key>
	<string>dvC__N_A_.glif</string>
	<key>dvC_YA</key>
	<string>dvC__Y_A_.glif</string>
	<key>dvDDH_R</key>
	<string>dvD_D_H__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvD_D_H__R_A_.glif</string>
	<key>dvDDH_YA</key>
	<string>dvD_D_H__Y_A_.glif</string>
	<key>dvDD_R</key>
	<string>dvD_D__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvD_D__R_A_.glif</string>
	<key>dvDD_YA</key>
	<string>dvD_D__Y_A_.glif</string>
	<key>dvDH_MA</key>
	<string>dvD_H__M_A_.glif</string>
	<key>dvDH_NA</key>
	<string>dvD_H__N_A_.glif</string>
	<key>dvDH_N_YA</key>
	<string>dvD_H__N__Y_A_.glif</string>
	<key>dvDH_VA</key>
	<string>dvD_H__V_A_.glif</string>
	<key>dvDH_YA</key>
	<string>dvD_H__Y_A_.glif</string>
	<key>dvD_BA</key>
	<string>dvD__B_A_.glif</string>
	<key>dvD_B_RA</key>
	<string>dvD__B__R_A_.glif</string>
	<key>dvD_G_RA</key>
	<string>dvD__G__R_A_.glif</string>
	<key>dvD_NA</key>
	<string>dvD__N_A_.glif</string>
	<key>dvD_R</key>
	<string>dvD__R_.glif</string>
	<key>dvD_RA</key>
	<string>dvD__R_A_.glif</string>
	<key>dvEyelash_HA</key>
	<string>dvE_yelash_H_A_.glif</string>
	<key>dvEyelash_YA</key>
	<string>dvE_yelash_Y_A_.glif</string>
	<key>dvGH_MA</key>
	<string>dvG_H__M_A_.glif</string>
	<key>dvGH_NA</key>
	<string>dvG_H__N_A_.glif</string>
	<key>dvGH_YA</key>
	<string>dvG_H__Y_A_.glif</string>
	<key>dvG_BA</key>
	<string>dvG__B_A_.glif</string>
	<key>dvG_BHA</key>
	<string>dvG__B_H_A_.glif</string>
	<key>dvG_BH_YA</key>
	<string>dvG__B_H__Y_A_.glif</string>
	<key>dvG_DA</key>
	<string>dvG__D_A_.glif</string>
	<key>dvG_DA_mU</key>
	<string>dvG__D_A__mU_.glif</string>
	<key>dvG_DA_mUU</key>
	<string>dvG__D_A__mU_U_.glif</string>
	<key>dvG_DHA</key>
	<string>dvG__D_H_A_.glif</string>
	<key>dvG_DH_VA</key>
	<string>dvG__D_H__V_A_.glif</string>
	<key>dvG_GA</key>
	<string>dvG__G_A_.glif</string>
	<key>dvG_GHA</key>
	<string>dvG__G_H_A_.glif</string>
	<key>dvG_JA</key>
	<string>dvG__J_A_.glif</string>
	<key>dvG_LA</key>
	<string>dvG__L_A_.glif</string>
	<key>dvG_MA</key>
	<string>dvG__M_A_.glif</string>
	<key>dvG_NNA</key>
	<string>dvG__N_N_A_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__Y_A_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__R_A_.glif</string>
	<key>dvG_R_YA</key>
	<string>dvG__R__Y_A_.glif</string>
	<key>dvG_SA</key>
	<string>dvG__S_A_.glif</string>
	<key>dvG_VA</key>
	<string>dvG__V_A_.glif</string>
	<key>dvG_YA</key>
	<string>dvG__Y_A_.glif</string>
	<key>dvHA_mU</key>
	<string>dvH_A__mU_.glif</string>
	<key>dvHA_mUU</key>
	<string>dvH_A__mU_U_.glif</string>
	<key>dvJH_MA</key>
	<string>dvJ_H__M_A_.glif</string>
	<key>dvJH_YA</key>
	<string>dvJ_H__Y_A_.glif</string>
	<key>dvJ_BA</key>
	<string>dvJ__B_A_.glif</string>
	<key>dvJ_DA</key>
	<string>dvJ__D_A_.glif</string>
	<key>dvJ_DA_mU</key>
	<string>dvJ__D_A__mU_.glif</string>
	<key>dvJ_DA_mUU</key>
	<string>dvJ__D_A__mU_U_.glif</string>
	<key>dvJ_DDA</key>
	<string>dvJ__D_D_A_.glif</string>
	<key>dvJ_JA</key>
	<string>dvJ__J_A_.glif</string>
	<key>dvJ_JHA</key>
	<string>dvJ__J_H_A_.glif</string>
	<key>dvJ_J_NYA</key>
	<string>dvJ__J__N_Y_A_.glif</string>
	<key>dvJ_J_VA</key>
	<string>dvJ__J__V_A_.glif</string>
	<key>dvJ_J_YA</key>
	<string>dvJ__J__Y_A_.glif</string>
	<key>dvJ_KA</key>
	<string>dvJ__K_A_.glif</string>
	<key>dvJ_MA</key>
	<string>dvJ__M_A_.glif</string>
	<key>dvJ_NY_YA</key>
	<string>dvJ__N_Y__Y_A_.glif</string>
	<key>dvJ_RA</key>
	<string>dvJ__R_A_.glif</string>
	<key>dvJ_TA</key>
	<string>dvJ__T_A_.glif</string>
	<key>dvJ_TTA</key>
	<string>dvJ__T_T_A_.glif</string>
	<key>dvJ_VA</key>
	<string>dvJ__V_A_.glif</string>
	<key>dvJ_YA</key>
	<string>dvJ__Y_A_.glif</string>
	<key>dvJx_JxA</key>
	<string>dvJ_x_J_xA_.glif</string>
	<key>dvJx_RA</key>
	<string>dvJ_x_R_A_.glif</string>
	<key>dvJx_YA</key>
	<string>dvJ_x_Y_A_.glif</string>
	<key>dvKH_KHA</key>
	<string>dvK_H__K_H_A_.glif</string>
	<key>dvKH_SHA</key>
	<string>dvK_H__S_H_A_.glif</string>
	<key>dvKH_TA</key>
	<string>dvK_H__T_A_.glif</string>
	<key>dvKH_VA</key>
	<string>dvK_H__V_A_.glif</string>
	<key>dvKH_YA</key>
	<string>dvK_H__Y_A_.glif</string>
	<key>dvKHx_MA</key>
	<string>dvK_H_x_M_A_.glif</string>
	<key>dvKHx_SA</key>
	<string>dvK_H_x_S_A_.glif</string>
	<key>dvKHx_SHA</key>
	<string>dvK_H_x_S_H_A_.glif</string>
	<key>dvKHx_TA</key>
	<string>dvK_H_x_T_A_.glif</string>
	<key>dvKHx_VA</key>
	<string>dvK_H_x_V_A_.glif</string>
	<key>dvKHx_YA</key>
	<string>dvK_H_x_Y_A_.glif</string>
	<key>dvK_CA</key>
	<string>dvK__C_A_.glif</string>
	<key>dvK_DA</key>
	<string>dvK__D_A_.glif</string>
	<key>dvK_DA_mU</key>
	<string>dvK__D_A__mU_.glif</string>
	<key>dvK_DA_mUU</key>
	<string>dvK__D_A__mU_U_.glif</string>
	<key>dvK_JA</key>
	<string>dvK__J_A_.glif</string>
	<key>dvK_KA</key>
	<string>dvK__K_A_.glif</string>
	<key>dvK_KHA</key>
	<string>dvK__K_H_A_.glif</string>
	<key>dvK_LA</key>
	<string>dvK__L_A_.glif</string>
	<key>dvK_MA</key>
	<string>dvK__M_A_.glif</string>
	<key>dvK_NNA</key>
	<string>dvK__N_N_A_.glif</string>
	<key>dvK_PA</key>
	<string>dvK__P_A_.glif</string>
	<key>dvK_PHA</key>
	<string>dvK__P_H_A_.glif</string>
	<key>dvK_P_RA</key>
	<string>dvK__P__R_A_.glif</string>
	<key>dvK_SA</key>
	<string>dvK__S_A_.glif</string>
	<key>dvK_SHA</key>
	<string>dvK__S_H_A_.glif</string>
	<key>dvK_SS_MA</key>
	<string>dvK__S_S__M_A_.glif</string>
	<key>dvK_SS_M_YA</key>
	<string>dvK__S_S__M__Y_A_.glif</string>
	<key>dvK_SS_VA</key>
	<string>dvK__S_S__V_A_.glif</string>
	<key>dvK_SS_YA</key>
	<string>dvK__S_S__Y_A_.glif</string>
	<key>dvK_S_DDA</key>
	<string>dvK__S__D_D_A_.glif</string>
	<key>dvK_S_P_LA</key>
	<string>dvK__S__P__L_A_.glif</string>
	<key>dvK_S_P_RA</key>
	<string>dvK__S__P__R_A_.glif</string>
	<key>dvK_S_TA</key>
	<string>dvK__S__T_A_.glif</string>
	<key>dvK_S_TTA</key>
	<string>dvK__S__T_T_A_.glif</string>
	<key>dvK_THA</key>
	<string>dvK__T_H_A_.glif</string>
	<key>dvK_TTA</key>
	<string>dvK__T_T_A_.glif</string>
	<key>dvK_T_RA</key>
	<string>dvK__T__R_A_.glif</string>
	<key>dvK_T_VA</key>
	<string>dvK__T__V_A_.glif</string>
	<key>dvK_T_YA</key>
	<string>dvK__T__Y_A_.glif</string>
	<key>dvK_VA</key>
	<string>dvK__V_A_.glif</string>
	<key>dvK_V_YA</key>
	<string>dvK__V__Y_A_.glif</string>
	<key>dvK_YA</key>
	<string>dvK__Y_A_.glif</string>
	<key>dvKx_BA</key>
	<string>dvK_x_B_A_.glif</string>
	<key>dvKx_KxA</key>
	<string>dvK_x_K_xA_.glif</string>
	<key>dvKx_MA</key>
	<string>dvK_x_M_A_.glif</string>
	<key>dvKx_PHA</key>
	<string>dvK_x_P_H_A_.glif</string>
	<key>dvKx_PHxA</key>
	<string>dvK_x_P_H_xA_.glif</string>
	<key>dvKx_R</key>
	<string>dvK_x_R_.glif</string>
	<key>dvKx_RA</key>
	<string>dvK_x_R_A_.glif</string>
	<key>dvKx_TA</key>
	<string>dvK_x_T_A_.glif</string>
	<key>dvLL_R</key>
	<string>dvL_L__R_.glif</string>
	<key>dvLL_RA</key>
	<string>dvL_L__R_A_.glif</string>
	<key>dvLL_YA</key>
	<string>dvL_L__Y_A_.glif</string>
	<key>dvL_BA</key>
	<string>dvL__B_A_.glif</string>
	<key>dvL_BHA</key>
	<string>dvL__B_H_A_.glif</string>
	<key>dvL_DA</key>
	<string>dvL__D_A_.glif</string>
	<key>dvL_DA_mU</key>
	<string>dvL__D_A__mU_.glif</string>
	<key>dvL_DA_mUU</key>
	<string>dvL__D_A__mU_U_.glif</string>
	<key>dvL_DDA</key>
	<string>dvL__D_D_A_.glif</string>
	<key>dvL_DDHA</key>
	<string>dvL__D_D_H_A_.glif</string>
	<key>dvL_D_RA</key>
	<string>dvL__D__R_A_.glif</string>
	<key>dvL_GA</key>
	<string>dvL__G_A_.glif</string>
	<key>dvL_HA</key>
	<string>dvL__H_A_.glif</string>
	<key>dvL_JA</key>
	<string>dvL__J_A_.glif</string>
	<key>dvL_JxA</key>
	<string>dvL__J_xA_.glif</string>
	<key>dvL_KA</key>
	<string>dvL__K_A_.glif</string>
	<key>dvL_KHA</key>
	<string>dvL__K_H_A_.glif</string>
	<key>dvL_K_YA</key>
	<string>dvL__K__Y_A_.glif</string>
	<key>dvL_LA</key>
	<string>dvL__L_A_.glif</string>
	<key>dvL_L_YA</key>
	<string>dvL__L__Y_A_.glif</string>
	<key>dvL_MA</key>
	<string>dvL__M_A_.glif</string>
	<key>dvL_PA</key>
	<string>dvL__P_A_.glif</string>
	<key>dvL_PHA</key>
	<string>dvL__P_H_A_.glif</string>
	<key>dvL_SA</key>
	<string>dvL__S_A_.glif</string>
	<key>dvL_TA</key>
	<string>dvL__T_A_.glif</string>
	<key>dvL_THA</key>
	<string>dvL__T_H_A_.glif</string>
	<key>dvL_TH_YA</key>
	<string>dvL__T_H__Y_A_.glif</string>
	<key>dvL_TTA</key>
	<string>dvL__T_T_A_.glif</string>
	<key>dvL_TTHA</key>
	<string>dvL__T_T_H_A_.glif</string>
	<key>dvL_VA</key>
	<string>dvL__V_A_.glif</string>
	<key>dvL_YA</key>
	<string>dvL__Y_A_.glif</string>
	<key>dvM_BA</key>
	<string>dvM__B_A_.glif</string>
	<key>dvM_BHA</key>
	<string>dvM__B_H_A_.glif</string>
	<key>dvM_BH_RA</key>
	<string>dvM__B_H__R_A_.glif</string>
	<key>dvM_BH_VA</key>
	<string>dvM__B_H__V_A_.glif</string>
	<key>dvM_BH_YA</key>
	<string>dvM__B_H__Y_A_.glif</string>
	<key>dvM_B_RA</key>
	<string>dvM__B__R_A_.glif</string>
	<key>dvM_B_YA</key>
	<string>dvM__B__Y_A_.glif</string>
	<key>dvM_DA</key>
	<string>dvM__D_A_.glif</string>
	<key>dvM_DA_mU</key>
	<string>dvM__D_A__mU_.glif</string>
	<key>dvM_DA_mUU</key>
	<string>dvM__D_A__mU_U_.glif</string>
	<key>dvM_HA</key>
	<string>dvM__H_A_.glif</string>
	<key>dvM_LA</key>
	<string>dvM__L_A_.glif</string>
	<key>dvM_MA</key>
	<string>dvM__M_A_.glif</string>
	<key>dvM_PA</key>
	<string>dvM__P_A_.glif</string>
	<key>dvM_P_RA</key>
	<string>dvM__P__R_A_.glif</string>
	<key>dvM_R</key>
	<string>dvM__R_.glif</string>
	<key>dvM_RA</key>
	<string>dvM__R_A_.glif</string>
	<key>dvM_SA</key>
	<string>dvM__S_A_.glif</string>
	<key>dvM_TA</key>
	<string>dvM__T_A_.glif</string>
	<key>dvM_VA</key>
	<string>dvM__V_A_.glif</string>
	<key>dvM_YA</key>
	<string>dvM__Y_A_.glif</string>
	<key>dvNG_R</key>
	<string>dvN_G__R_.glif</string>
	<key>dvNG_RA</key>
	<string>dvN_G__R_A_.glif</string>
	<key>dvNN_DDA</key>
	<string>dvN_N__D_D_A_.glif</string>
	<key>dvNN_DDHA</key>
	<string>dvN_N__D_D_H_A_.glif</string>
	<key>dvNN_MA</key>
	<string>dvN_N__M_A_.glif</string>
	<key>dvNN_NNA</key>
	<string>dvN_N__N_N_A_.glif</string>
	<key>dvNN_RA</key>
	<string>dvN_N__R_A_.glif</string>
	<key>dvNN_TTA</key>
	<string>dvN_N__T_T_A_.glif</string>
	<key>dvNN_TTHA</key>
	<string>dvN_N__T_T_H_A_.glif</string>
	<key>dvNN_VA</key>
	<string>dvN_N__V_A_.glif</string>
	<key>dvNN_YA</key>
	<string>dvN_N__Y_A_.glif</string>
	<key>dvNY_CA</key>
	<string>dvN_Y__C_A_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvN_Y__C_H_A_.glif</string>
	<key>dvNY_JA</key>
	<string>dvN_Y__J_A_.glif</string>
	<key>dvNY_RA</key>
	<string>dvN_Y__R_A_.glif</string>
	<key>dvNY_SHA</key>
	<string>dvN_Y__S_H_A_.glif</string>
	<key>dvN_BHA</key>
	<string>dvN__B_H_A_.glif</string>
	<key>dvN_BH_VA</key>
	<string>dvN__B_H__V_A_.glif</string>
	<key>dvN_BH_YA</key>
	<string>dvN__B_H__Y_A_.glif</string>
	<key>dvN_CA</key>
	<string>dvN__C_A_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__C_H_A_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__D_A_.glif</string>
	<key>dvN_DA_mU</key>
	<string>dvN__D_A__mU_.glif</string>
	<key>dvN_DA_mUU</key>
	<string>dvN__D_A__mU_U_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__D_D_A_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__D_H_A_.glif</string>
	<key>dvN_DH_RA</key>
	<string>dvN__D_H__R_A_.glif</string>
	<key>dvN_DH_VA</key>
	<string>dvN__D_H__V_A_.glif</string>
	<key>dvN_DH_YA</key>
	<string>dvN__D_H__Y_A_.glif</string>
	<key>dvN_D_RA</key>
	<string>dvN__D__R_A_.glif</string>
	<key>dvN_D_VA</key>
	<string>dvN__D__V_A_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__H_A_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__K_A_.glif</string>
	<key>dvN_K_SA</key>
	<string>dvN__K__S_A_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__M_A_.glif</string>
	<key>dvN_M_YA</key>
	<string>dvN__M__Y_A_.glif</string>
	<key>dvN_N_YA</key>
	<string>dvN__N__Y_A_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__P_A_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__P_H_A_.glif</string>
	<key>dvN_PH_RA</key>
	<string>dvN__P_H__R_A_.glif</string>
	<key>dvN_P_RA</key>
	<string>dvN__P__R_A_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__S_A_.glif</string>
	<key>dvN_S_M_YA</key>
	<string>dvN__S__M__Y_A_.glif</string>
	<key>dvN_S_TTA</key>
	<string>dvN__S__T_T_A_.glif</string>
	<key>dvN_S_YA</key>
	<string>dvN__S__Y_A_.glif</string>
	<key>dvN_TA</key>
	<string>dvN__T_A_.glif</string>
	<key>dvN_THA</key>
	<string>dvN__T_H_A_.glif</string>
	<key>dvN_TH_VA</key>
	<string>dvN__T_H__V_A_.glif</string>
	<key>dvN_TH_YA</key>
	<string>dvN__T_H__Y_A_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__T_T_A_.glif</string>
	<key>dvN_T_RA</key>
	<string>dvN__T__R_A_.glif</string>
	<key>dvN_T_SA</key>
	<string>dvN__T__S_A_.glif</string>
	<key>dvN_T_YA</key>
	<string>dvN__T__Y_A_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__V_A_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__Y_A_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvO.init</key>
	<string>dvO__init.glif</string>
	<key>dvOne</key>
	<string>dvO_ne.glif</string>
	<key>dvPH_JA</key>
	<string>dvP_H__J_A_.glif</string>
	<key>dvPH_LA</key>
	<string>dvP_H__L_A_.glif</string>
	<key>dvPH_NA</key>
	<string>dvP_H__N_A_.glif</string>
	<key>dvPH_PA</key>
	<string>dvP_H__P_A_.glif</string>
	<key>dvPH_PHA</key>
	<string>dvP_H__P_H_A_.glif</string>
	<key>dvPH_R</key>
	<string>dvP_H__R_.glif</string>
	<key>dvPH_RA</key>
	<string>dvP_H__R_A_.glif</string>
	<key>dvPH_SHA</key>
	<string>dvP_H__S_H_A_.glif</string>
	<key>dvPH_TA</key>
	<string>dvP_H__T_A_.glif</string>
	<key>dvPH_TTA</key>
	<string>dvP_H__T_T_A_.glif</string>
	<key>dvPH_YA</key>
	<string>dvP_H__Y_A_.glif</string>
	<key>dvPHx_JxA</key>
	<string>dvP_H_x_J_xA_.glif</string>
	<key>dvPHx_PHxA</key>
	<string>dvP_H_x_P_H_xA_.glif</string>
	<key>dvPHx_R</key>
	<string>dvP_H_x_R_.glif</string>
	<key>dvPHx_RA</key>
	<string>dvP_H_x_R_A_.glif</string>
	<key>dvPHx_SA</key>
	<string>dvP_H_x_S_A_.glif</string>
	<key>dvPHx_TA</key>
	<string>dvP_H_x_T_A_.glif</string>
	<key>dvP_LA</key>
	<string>dvP__L_A_.glif</string>
	<key>dvP_MA</key>
	<string>dvP__M_A_.glif</string>
	<key>dvP_NA</key>
	<string>dvP__N_A_.glif</string>
	<key>dvP_PA</key>
	<string>dvP__P_A_.glif</string>
	<key>dvP_PHA</key>
	<string>dvP__P_H_A_.glif</string>
	<key>dvP_R</key>
	<string>dvP__R_.glif</string>
	<key>dvP_RA</key>
	<string>dvP__R_A_.glif</string>
	<key>dvP_SA</key>
	<string>dvP__S_A_.glif</string>
	<key>dvP_TA</key>
	<string>dvP__T_A_.glif</string>
	<key>dvP_TTA</key>
	<string>dvP__T_T_A_.glif</string>
	<key>dvP_TTHA</key>
	<string>dvP__T_T_H_A_.glif</string>
	<key>dvP_T_YA</key>
	<string>dvP__T__Y_A_.glif</string>
	<key>dvP_VA</key>
	<string>dvP__V_A_.glif</string>
	<key>dvP_YA</key>
	<string>dvP__Y_A_.glif</string>
	<key>dvSHA_mvR</key>
	<string>dvS_H_A__mvR_.glif</string>
	<key>dvSH_CHA</key>
	<string>dvS_H__C_H_A_.glif</string>
	<key>dvSH_KA</key>
	<string>dvS_H__K_A_.glif</string>
	<key>dvSH_KxA</key>
	<string>dvS_H__K_xA_.glif</string>
	<key>dvSH_LA</key>
	<string>dvS_H__L_A_.glif</string>
	<key>dvSH_MA</key>
	<string>dvS_H__M_A_.glif</string>
	<key>dvSH_SHA</key>
	<string>dvS_H__S_H_A_.glif</string>
	<key>dvSH_TA</key>
	<string>dvS_H__T_A_.glif</string>
	<key>dvSH_TTA</key>
	<string>dvS_H__T_T_A_.glif</string>
	<key>dvSH_YA</key>
	<string>dvS_H__Y_A_.glif</string>
	<key>dvSS_KA</key>
	<string>dvS_S__K_A_.glif</string>
	<key>dvSS_K_RA</key>
	<string>dvS_S__K__R_A_.glif</string>
	<key>dvSS_MA</key>
	<string>dvS_S__M_A_.glif</string>
	<key>dvSS_M_YA</key>
	<string>dvS_S__M__Y_A_.glif</string>
	<key>dvSS_NNA</key>
	<string>dvS_S__N_N_A_.glif</string>
	<key>dvSS_NN_YA</key>
	<string>dvS_S__N_N__Y_A_.glif</string>
	<key>dvSS_PA</key>
	<string>dvS_S__P_A_.glif</string>
	<key>dvSS_PHA</key>
	<string>dvS_S__P_H_A_.glif</string>
	<key>dvSS_P_RA</key>
	<string>dvS_S__P__R_A_.glif</string>
	<key>dvSS_R</key>
	<string>dvS_S__R_.glif</string>
	<key>dvSS_RA</key>
	<string>dvS_S__R_A_.glif</string>
	<key>dvSS_SSA</key>
	<string>dvS_S__S_S_A_.glif</string>
	<key>dvSS_TTA</key>
	<string>dvS_S__T_T_A_.glif</string>
	<key>dvSS_TTHA</key>
	<string>dvS_S__T_T_H_A_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvS_S__T_T_H__R_A_.glif</string>
	<key>dvSS_TTH_YA</key>
	<string>dvS_S__T_T_H__Y_A_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvS_S__T_T__R_A_.glif</string>
	<key>dvSS_TT_VA</key>
	<string>dvS_S__T_T__V_A_.glif</string>
	<key>dvSS_TT_YA</key>
	<string>dvS_S__T_T__Y_A_.glif</string>
	<key>dvSS_VA</key>
	<string>dvS_S__V_A_.glif</string>
	<key>dvSS_YA</key>
	<string>dvS_S__Y_A_.glif</string>
	<key>dvS_BA</key>
	<string>dvS__B_A_.glif</string>
	<key>dvS_DA</key>
	<string>dvS__D_A_.glif</string>
	<key>dvS_DA_mU</key>
	<string>dvS__D_A__mU_.glif</string>
	<key>dvS_DA_mUU</key>
	<string>dvS__D_A__mU_U_.glif</string>
	<key>dvS_JA</key>
	<string>dvS__J_A_.glif</string>
	<key>dvS_KA</key>
	<string>dvS__K_A_.glif</string>
	<key>dvS_KHA</key>
	<string>dvS__K_H_A_.glif</string>
	<key>dvS_K_RA</key>
	<string>dvS__K__R_A_.glif</string>
	<key>dvS_K_VA</key>
	<string>dvS__K__V_A_.glif</string>
	<key>dvS_LA</key>
	<string>dvS__L_A_.glif</string>
	<key>dvS_MA</key>
	<string>dvS__M_A_.glif</string>
	<key>dvS_M_YA</key>
	<string>dvS__M__Y_A_.glif</string>
	<key>dvS_PA</key>
	<string>dvS__P_A_.glif</string>
	<key>dvS_PHA</key>
	<string>dvS__P_H_A_.glif</string>
	<key>dvS_P_RA</key>
	<string>dvS__P__R_A_.glif</string>
	<key>dvS_SA</key>
	<string>dvS__S_A_.glif</string>
	<key>dvS_TA</key>
	<string>dvS__T_A_.glif</string>
	<key>dvS_THA</key>
	<string>dvS__T_H_A_.glif</string>
	<key>dvS_TH_YA</key>
	<string>dvS__T_H__Y_A_.glif</string>
	<key>dvS_TTA</key>
	<string>dvS__T_T_A_.glif</string>
	<key>dvS_T_RA</key>
	<string>dvS__T__R_A_.glif</string>
	<key>dvS_T_VA</key>
	<string>dvS__T__V_A_.glif</string>
	<key>dvS_T_YA</key>
	<string>dvS__T__Y_A_.glif</string>
	<key>dvS_VA</key>
	<string>dvS__V_A_.glif</string>
	<key>dvS_YA</key>
	<string>dvS__Y_A_.glif</string>
	<key>dvTH_NA</key>
	<string>dvT_H__N_A_.glif</string>
	<key>dvTH_R</key>
	<string>dvT_H__R_.glif</string>
	<key>dvTH_RA</key>
	<string>dvT_H__R_A_.glif</string>
	<key>dvTH_VA</key>
	<string>dvT_H__V_A_.glif</string>
	<key>dvTTH_R</key>
	<string>dvT_T_H__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvT_T_H__R_A_.glif</string>
	<key>dvTTH_YA</key>
	<string>dvT_T_H__Y_A_.glif</string>
	<key>dvTT_R</key>
	<string>dvT_T__R_.glif</string>
	<key>dvTT_RA</key>
	<string>dvT_T__R_A_.glif</string>
	<key>dvTT_YA</key>
	<string>dvT_T__Y_A_.glif</string>
	<key>dvT_KA</key>
	<string>dvT__K_A_.glif</string>
	<key>dvT_KHA</key>
	<string>dvT__K_H_A_.glif</string>
	<key>dvT_KH_RA</key>
	<string>dvT__K_H__R_A_.glif</string>
	<key>dvT_K_RA</key>
	<string>dvT__K__R_A_.glif</string>
	<key>dvT_K_SSA</key>
	<string>dvT__K__S_S_A_.glif</string>
	<key>dvT_K_VA</key>
	<string>dvT__K__V_A_.glif</string>
	<key>dvT_K_YA</key>
	<string>dvT__K__Y_A_.glif</string>
	<key>dvT_LA</key>
	<string>dvT__L_A_.glif</string>
	<key>dvT_MA</key>
	<string>dvT__M_A_.glif</string>
	<key>dvT_M_YA</key>
	<string>dvT__M__Y_A_.glif</string>
	<key>dvT_N_YA</key>
	<string>dvT__N__Y_A_.glif</string>
	<key>dvT_PA</key>
	<string>dvT__P_A_.glif</string>
	<key>dvT_PHA</key>
	<string>dvT__P_H_A_.glif</string>
	<key>dvT_P_LA</key>
	<string>dvT__P__L_A_.glif</string>
	<key>dvT_P_RA</key>
	<string>dvT__P__R_A_.glif</string>
	<key>dvT_R_YA</key>
	<string>dvT__R__Y_A_.glif</string>
	<key>dvT_SA</key>
	<string>dvT__S_A_.glif</string>
	<key>dvT_S_NA</key>
	<string>dvT__S__N_A_.glif</string>
	<key>dvT_S_VA</key>
	<string>dvT__S__V_A_.glif</string>
	<key>dvT_S_YA</key>
	<string>dvT__S__Y_A_.glif</string>
	<key>dvT_THA</key>
	<string>dvT__T_H_A_.glif</string>
	<key>dvT_T_VA</key>
	<string>dvT__T__V_A_.glif</string>
	<key>dvT_T_YA</key>
	<string>dvT__T__Y_A_.glif</string>
	<key>dvT_VA</key>
	<string>dvT__V_A_.glif</string>
	<key>dvT_YA</key>
	<string>dvT__Y_A_.glif</string>
	<key>dvV_HA</key>
	<string>dvV__H_A_.glif</string>
	<key>dvV_LA</key>
	<string>dvV__L_A_.glif</string>
	<key>dvV_R</key>
	<string>dvV__R_.glif</string>
	<key>dvV_RA</key>
	<string>dvV__R_A_.glif</string>
	<key>dvV_VA</key>
	<string>dvV__V_A_.glif</string>
	<key>dvV_YA</key>
	<string>dvV__Y_A_.glif</string>
	<key>dvY_NA</key>
	<string>dvY__N_A_.glif</string>
	<key>dvY_R</key>
	<string>dvY__R_.glif</string>
	<key>dvY_RA</key>
	<string>dvY__R_A_.glif</string>
	<key>dvY_YA</key>
	<string>dvY__Y_A_.glif</string>
	<key>dvmAI_Reph</key>
	<string>dvmA_I__R_eph.glif</string>
	<key>dvmAI_Reph_Anusvara</key>
	<string>dvmA_I__R_eph_A_nusvara.glif</string>
	<key>dvmAU</key>
	<string>dvmA_U_.glif</string>
	<key>dvmAU_Anusvara</key>
	<string>dvmA_U__A_nusvara.glif</string>
	<key>dvmAU_Reph</key>
	<string>dvmA_U__R_eph.glif</string>
	<key>dvmAU_Reph_Anusvara</key>
	<string>dvmA_U__R_eph_A_nusvara.glif</string>
	<key>dvmE_Reph_Anusvara</key>
	<string>dvmE__R_eph_A_nusvara.glif</string>
	<key>dvmII_Reph</key>
	<string>dvmI_I__R_eph.glif</string>
	<key>dvmII_Reph.aLong</key>
	<string>dvmI_I__R_eph_aL_ong.glif</string>
	<key>dvmII_Reph_Anusvara</key>
	<string>dvmI_I__R_eph_A_nusvara.glif</string>
	<key>dvmII_Reph_Anusvara.aLong</key>
	<string>dvmI_I__R_eph_A_nu6f85ab4c.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmO_Anusvara</key>
	<string>dvmO__A_nusvara.glif</string>
	<key>dvmO_Reph</key>
	<string>dvmO__R_eph.glif</string>
	<key>dvmO_Reph_Anusvara</key>
	<string>dvmO__R_eph_A_nusvara.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>ff</key>
	<string>ff.glif</string>
	<key>ffi</key>
	<string>ffi.glif</string>
	<key>ffl</key>
	<string>ffl.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
</dict>
</plist>
